<div class="s-layout">
  <!-- Sidebar -->
  <div class="s-layout__sidebar">
    <div class="s-sidebar__trigger" (click)="handleMenu()">
      <i>&#9776;</i>
    </div>
    <nav class="s-sidebar__nav" [ngClass]="{'s-sidebar__nav__active': !!showMenu}">
      <ul>
        <li *ngFor="let item of authors">
          <p class="s-sidebar__nav-link" [ngClass]="{'s-sidebar__nav-link__active': activeAuthor === item.email}" (click)="setAuthor(item.email)">
            <em>{{item.name}}</em>
            <em class="email">{{item.email}}</em>
          </p>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Content -->
  <main class="s-layout__content">
    <div class="s-publications">
      <header>
        <div class="search-box">
          <div class="search-box__input">
            <div style="overflow: hidden; width: 100%; height: 100%;">
              <input type="text" placeholder="Search..." id="searchInput" (input)="onSearchChange($event.target.value)"/>
              <div *ngIf="showMessage" class="search-box__message">{{messageFilter}}</div>
            </div>
          </div>
        </div>
        <div class="header_sort" (click)="sortList()">{{sortLabel?'Newest':'Oldest'}}</div>
      </header>
      <div *ngFor="let item of listFiltered | paginate: { itemsPerPage: 10, currentPage: p }" class="block">
        <div>
          <h1>{{item.title}}</h1>
          <h2>Write by: {{item.author.name}}</h2>
          <h2 class="s-publication__date">Date {{item.date}}</h2>
          <p>{{item.body}}</p>
        </div>
      </div>
      <pagination-controls style="text-align: center" (pageChange)="p = $event"></pagination-controls>
    </div>
  </main>
</div>
