/* Primary Styles */

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: sans-serif;
  font-size: 1em;
  color: #333;
}

h1 {
  font-size: 1.4em;
}

em {
  font-style: normal;
}

p {
  text-decoration: none;
  color: inherit;
}

.fa,.fas {
  font-size: 26px;
}

/* Layout */

.s-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.s-layout__content {
  display: flex;
  flex: 1;
  margin-left: 4em;
}

/* Sidebar */

.s-sidebar__trigger {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 4em;
  height: 4em;
  background: #192b3c;
  > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #f07ab0;
  }
}

.s-sidebar__nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: -15em;
  overflow: hidden;
  overflow-y: auto;
  transition: all .3s ease-in;
  width: 15em;
  height: 100%;
  background: #243e56;
  color: rgba(255, 255, 255, 0.7);
  &:hover, &:focus {
    left: 0;
  }
}

.s-sidebar__nav ul {
  position: absolute;
  top: 4em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
  li {
    width: 100%;
    cursor: pointer;
  }
}

.s-sidebar__nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4em;
  margin: 0;
  border-bottom: 1px solid white;
  em {
    position: absolute;
    top: 50%;
    left: 2em;
    transform: translateY(-50%);
  }
  .email{
    top: 80%;
    font-style: italic;
  }
  &:hover {
    background: #4d6276;
  }
}

.s-sidebar__nav-link__active{
    background: #4d6276;
}

.s-sidebar__nav__active{
  left: 0;
}

.s-publications{
  width: 100%;
}

.block {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 85%;
  line-height: 1.4;
  display: flex;
  align-items: flex-start;
  background: #014a56;
  color: white;
  padding: 1rem;
  max-height: 20rem;
  margin-bottom: 1rem;
}
.block > div {
  flex: 1;
}
.block h1 {
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}
.block h2 {
  font-size: 80%;
  margin: 0;
  :last-child {
  }
}
.s-publication__date{
  margin: 0 0 0.5rem 0;
}

header{
  text-align: center;
  background: white;
  box-shadow: 0px 2px 4px rgba(68, 68, 68, 0.5);
  margin-bottom: 1em;
  padding: 13px;
  color: #444;
  >div{
    margin: 0px 10px;
    display: inline-block;
    vertical-align: middle;
  }
}
.search-box{
  height: 100%;
  div {
    display: inline-block;
    vertical-align: middle;
  }
  .fa {
    margin-right: 5px;
    cursor: pointer;
  }
}

.header_sort{
  cursor: pointer;
  border: 1px solid #444;
  padding: 10px;
  &:hover{
    background: #4d6276;
    color: white;
  }
}

.search-box__input{
  display: inline-block;
  width: 300px;
  height: 100%;
  position: relative;
  transition: width 0.2s ease-out;
  input {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #444;
    font-size: 16px;
    padding: 10px;
    font-weight: 300;
    &:focus {
      outline: none;
      border: 2px solid #444;
    }
  }
}

.search-box__message{
  display: block;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: #D8000C;
  background-color: #FFD2D2;
}

/* Mobile First */
@media (min-width: 42em) {
  .s-layout__content {
    margin-left: 4em;
  }
  /* Sidebar */
  .s-sidebar__nav {
    left: -15em;
  }
}

@media (min-width: 68em) {
  .s-layout__content {
    margin-left: 15em;
  }
  /* Sidebar */
  .s-sidebar__trigger {
    display: none;
  }
  .s-sidebar__nav {
    width: 15em;
    left: 0;
    ul {
      top: 1.3em;
    }
  }
}
